* {
	margin: 0;
	padding: 0;
}

html, body {
	background: #171717;
	color: #ffffff;
}

h1 img {
	padding-top: 100px;
}

h2 {
	font-size: 20px;
	color: #ffffff;
}

a:link, a:visited {
	font-size: 20px;
	color: #5fdddd;
}

.main {
	text-align: center;
	padding: 0px;
}

.header {
	background: #ec9d00;
	min-height: 280px;
	height: auto;
	padding-top: 20px;
}

.content {
	padding: 20px;
}