.intl-tel-input {
    width:100%;
}

#register-submit {
	max-width: 296px
}

.container-fluid {
 	max-width: 1268px
}

.checkbox-label small {
	font-size: .85rem;
}

@media (min-width: 576px)
{
	#register-submit {
		min-width: 340px;
	}
}

label.checkbox-label.small::before {
  top: -3px;
}
label.checkbox-label.small::after {
  top: 2px;
}

.ms-choice {
    height: 3.2857142857142856rem !important;
    border: 1px solid #e6eaef;
    color: #455A64;
    border-radius: 2px;
    background-color: #F2F5FA;
    top: 0px;
    left: 0px;
    height: 100%;
    position: absolute;
    transition: 100ms ease-out; 
}

.ms-choice:hover { border-color: #CECFD1; }

.ms-choice:focus {
	box-shadow: 0 0 0 2pt rgb(59, 153, 252) !important;
	border: none;
    background-color: #F2F5FA;
    border-radius: 2px;
}

.ms-choice > div {
    top: 19px;
    right: 14px;
    width: 0;
    height: 0;
    background: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #455a64;
    border-radius: 2px;
}

.ms-choice > span { top: 9px; }

.ms-drop.bottom {
    border: none;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 9px 6px rgba(176,192,237,.3);
}

.ms-search {
    padding: 20px;
    border-bottom: 1px solid #e6eaef;
}

.ms-search input {
	height: 3.2857142857142856rem !important; 
}


.ms-drop ul {
    padding: 10px 20px;
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: relative; /*Overridden this to not to jump the UI on select  position: static;  */
}

.ms-drop ul { padding: 10px 20px; }

.checkbox label::before { top: 1px; }
